# Byte-compiled / cached files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/
ENV/
test.py

# Local configuration
.env
.python-version

# IDE / Editor metadata
.vscode/
.idea/
.vs/

# OS artifacts
.DS_Store
Thumbs.db

# Project outputs
output/*.svg
